.main {
    width: 100%
}

.chartPanel {
    width: 100%;
    display: grid;
    justify-content: center;

    grid-template-columns: 1fr 1fr;
}

.chart {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.slider span {
    color: white !important;
}